.search{
  /* border:none; */
  outline:none;
  padding:10px;

  line-height:30px;

  text-align: center;


}

input.theInput{
  /* both next lines to style the line of the input type search */
  -webkit-appearance:textfield;
box-sizing: content-box;
  width:250px;
  height:40px;
text-align: center;

font-size: 1rem;
margin:50px auto;

}

/* input.theInput::placeholder{

} */
